.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.headerLogo {
  display: block;
}

.main {
  flex: 1;
  width: 100%;
  background-color: light-dark(darken(var(--mantine-color-body), 3.5%), var(--mantine-color-body));
}

.mainInner {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.footer {
  background-color: var(--mantine-color-dark-8);
  color: var(--mantine-color-white);
}

.footerInner {
  display: flex;
  max-width: 720px;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}
